*{
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

table {
	width: 90%;
}
tr {
	height: 60px;
}
td {
    text-align: center;
}
p {
	font-size: 0.6rem;
}
b {
	font-size: 1.5rem;
}
.td1 {
	background-color: #f7ff97;
}
.td2 {
	background-color: #faee93;
}
.td3 {
	background-color: #ffd39c;
}
.td4 {
	background-color: #ecc0f4;
}
.td5 {
	background-color: #cff4c0;
}
.td6 {
	background-color: #9dfc90;
}
.td7 {
	background-color: #c0c0f4;
}
.td8 {
	background-color: #a9fff5;
}
.td9 {
	background-color: #a9ffc2;
}