* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
.navbar ul li a {
    color: black;
}
section{
    padding: 160px 15% 120px;
}
.home-text {
    color: white;
    padding: 50%;

}